<a href="https://colab.research.google.com/github/GwynethCepeda/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Python
Python Variables

In [ ]:
x = float(1) 
a, b = 0, -1
a, b, c = "Sally", "John", "Anna"

print('This a sample')
print(a)
print(c)

This a sample
Sally
Anna

Casting

In [ ]:
print(x)

1.0

Type() Function

In [ ]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [ ]:
h= "Maria"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Maria
1
2

Multiple Variables

In [ ]:
x,y,z="one", "two", "Three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
Three
one two Three

One Value to Multiple Variables

In [ ]:
x = y = z ="Stella"
print(x,y,z)

Stella Stella Stella

Output Variables

In [1]:
x= "enjoying"

print("Python is " + x)

x = "Hi"
y = "Yumeko"

print(x+""+" "+y)

Python is enjoying
Hi Yumeko

Arithmetic Operations

In [ ]:
f = 1
g = 2
i = 6

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

3
-1
6
3
1.5
1
1
729

Assignment Operators

In [ ]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [ ]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [ ]:
print(v>k) #v=1, k=2

print(v==k)

Logical Operators

In [ ]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [ ]:
print(v is k)
print(v is not k)

False
True